[% USE Dumper %]
[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Patron Importer plugin: Configuration</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; Patron importer &rsaquo; Configuration</div>

<div id="doc3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Utilities</h3>
      </div>
      <div class="panel-body">
        [% IF test_completed %]
            [% FOREACH r IN results %]
                [% IF r.ok %]
                    <div class="alert alert-success" role="alert">Test completed successfully for job "[% r.job.name | html %]"!</div>
                [% ELSE %]
                    <div class="alert alert-error" role="alert">
                        Test completed with errors for job "[% r.job.name | html %]": <pre>[% r.error | html %]</pre>
                    </div>
                [% END %]
            [% END %]
        [% ELSIF test_completed %]
        [% ELSE %]
            <form method="post">
              [% INCLUDE 'csrf-token.inc' %]
              <input type="hidden" name="op" value="cud-test"/>
              <input type="hidden" name="class" value="[% CLASS %]"/>
              <input type="hidden" name="method" value="[% METHOD %]"/>
              <input type="hidden" name="test" value="1" />
              <div class="form-group">
                  <label for="run-test-connection">Test connections</label>
                  <button type="submit" id="run-test-connection" class="btn btn-default">Test</button>
                  <span id="helpBlock" class="help-block">Test the SFTP and file transport connections using the data provided below.</span>
              </div>
            </form>
        [% END %]
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
        </div>

        <form method="post">
          [% INCLUDE 'csrf-token.inc' %]
          <input type="hidden" name="op" value="cud-save"/>
          <input type="hidden" name="class" value="[% CLASS %]"/>
          <input type="hidden" name="method" value="[% METHOD %]"/>
          <input type="hidden" name="save" value="1" />

          <fieldset>
            <legend>Configuration</legend>

            <div class="form-group">
              <textarea style="font-family:monospace;" class="form-control" rows="30" id="configuration" name="configuration">[% configuration %]</textarea>
            </div>
          </fieldset>


          <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>

[% INCLUDE 'intranet-bottom.inc' %]
